html{
    height: 100%;
}
body {
    font-family: Open Sans;
    height: 100%;
}
header {
    /*background-image: url("css/img/mari_home.jpg");*/
    background-color: transparent;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 20px 100px ;
}
header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header .fullname {
    color: white;
    margin: 0;
    font-family: Open Sans Condensed;
    font-size: 35px;
}
header .surename {
    color: #ff3399;
    font-family: Open Sans Condensed;
    font-size: 35px;
}
header nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
header .nav-item {
    margin-left: 10px;
}
header .nav-item:hover {
    border-bottom: 1px solid #ff3399;
    color: #ff3399;
    padding-bottom: 10px;
}
header a {
    color: white;
    outline: none;
    text-decoration: none;
}
.front-end-dev {
    border-width: 15px;
    border-style: solid;
    border-color: #ff3399;
    background-color: transparent;
    text-transform: uppercase;
    color: #ff3399;
    text-align: center;
    font-size: 70px;
    line-height: 100px;
    letter-spacing: 10px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    float: right;
    clear: both;
    
    top: 50%;
    transform: translateY(-50%);
}

* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
section .projects {
	position: relative;
	width: 100%;
	height: 100%;
}

.demo a {
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #ff3399;
	font : normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}
.demo a:hover {
	opacity: .5;
}

.demo a {
	padding-top: 80px;
}
.demo a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 2px solid #ff3399;
	border-bottom: 2px solid #ff3399;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb07 2s infinite;
	animation: sdb07 2s infinite;
	opacity: 0;
	box-sizing: border-box;
}
.demo a span:nth-of-type(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.demo a span:nth-of-type(2) {
	top: 16px;
	-webkit-animation-delay: .15s;
	animation-delay: .15s;
}
.demo a span:nth-of-type(3) {
	top: 32px;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb07 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
section.about-me {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0 auto;
    padding: 7% 12%;
    width: 100%;
    list-style: none;
    justify-content: space-around;
}
section .hi {
    font-size: 70px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #ff3399;
    font-weight: bold;
    line-height: 100px;
    margin: 0 auto;
}
section .my-story {
    font-weight: 300;
    letter-spacing: .03em;
    line-height: 140%;
    margin: 0 auto;
    padding-left: 25px;
    width: auto;
}
.workspace {
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 60%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
}
section .work, section .life, section .contacts {
    border-width: 15px;
    border-style: solid;
    border-color: #ff3399;
    background-color: transparent;
    text-transform: uppercase;
    color: #ff3399;
    text-align: center;
    font-size: 70px;
    line-height: 100px;
    letter-spacing: 10px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: auto;
}
.lifestyle, .contact-me {
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 60%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
}
ul.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5% 15%;
    box-sizing: border-box;
}
ul.flex-container .flex-item {
    
}
img.floriya {
    max-width: 200px;
    width: 100%;
}
.project-description {
    color: #333;
    outline: none;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.events {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0 auto;
    padding: 10% 15%;
    width: 100%;
    list-style: none;
    justify-content: space-around;
}
.thumbnail {
    max-width: 400px;
}
.heading {
    color: #333;
    text-transform: uppercase;
    padding: 10px 0;
}
.description {
    font-weight: 300;
    letter-spacing: .03em;
    line-height: 140%;
    margin: 0 auto;
    padding-left: 30px;
    width: auto;
}
.view-more {
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    margin-top: 10px;
    border-radius: 2px;
}
.form {
    background: none;
    display: flex;
    padding: 50px 0;
}
.flex-form {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.form * {
    box-sizing: border-box;
}
.flex-outer {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}
.flex-outer label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}
.flex-outer label span {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}
.get-in-touch, #thanks {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .03em;
    line-height: 140%;
}
.flex-outer > label > span {
    flex: 1 0 120px;
    max-width: 220px;
}
.flex-outer > label > span + * {
    flex: 1 0 220px;
}
.flex-outer label input:not([type='checkbox']),
.flex-outer label textarea {
    padding: 15px;
    border: 1px solid #8c8c8c;
    background-color: #f2f2f2;
}
.flex-outer button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}
footer {
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 5% 15%;
    display: flex;
    flex-flow: row-wrap;
    justify-content: space-between;
}
footer .nav-item{
    color: #333;
    outline: none;
    text-decoration: none;
}
footer i:hover {
    color: #ff3399;
}
.copy {
    
}
.copyright {
    color: #333;
    outline: none;
    text-decoration: underline;
}

@media (max-width: 900px) {
    section.events {
        flex-direction: column;
    }
}

@media (max-width: 760px) {
    div.front-end-dev, div.work, div.life, div.contacts {
        font-size: 50px;
        line-height: 50px;
        border-width: 8px;
        letter-spacing: 5px;
    }
    header {
        padding: 10px;
    }
}
@media (max-width: 500px) {
    header {
        background-position: 30% 50%;
    }
    div.front-end-dev, div.work, div.life, div.contacts {
        font-size: 30px;
        line-height: 30px;
        border-width: 7px;
        letter-spacing: 3px;
    }
    section.about-me, section.events, footer, header nav  {
        flex-direction: column;
    }
    .thumbnail {
        max-width: 200px;
    }
    a.nav-item {
        padding-bottom: 10px;
    }
    header .header-container {
        align-items: flex-start;
    }
}
