/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*_____________________________________________*/

html{
    height: 100%;
}
body {
    font-family: Open Sans;
    height: 100%;

}
header {
    background-color: transparent;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 20px 100px 0 100px;
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header .fullname {
    color: white;
    margin: 0;
    font-family: Open Sans Condensed;
    font-size: 35px;
}
header .surename {
    color: #ff3399;
    font-family: Open Sans Condensed;
    font-size: 35px;
}
header nav {
    display: list-item;
    float: right;
    list-style-type: none;
}
header .nav-item {
    margin-left: 10px;
}
header .nav-item:hover {
    border-bottom: 1px solid #ff3399;
    color: #ff3399;
    padding-bottom: 10px;
}
header a {
    text-decoration: none;
    outline: none;
    color: white;
}
.front-end-dev {
    border-width: 15px;
    border-style: solid;
    border-color: #ff3399;
    background-color: transparent;
    text-transform: uppercase;
    color: #ff3399;
    text-align: center;
    font-size: 70px;
    line-height: 100px;
    letter-spacing: 10px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    float: right;
    clear: both;

  top: 50%;
  transform: translateY(-50%);
}

section .hi {
    font-size: 70px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #ff3399;
    font-weight: bold;
    line-height: 100px;
}
section.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: 
    width: 100%;
    height: 40%;
    background-color: white;
    padding: 20px 100px 0 100px;
}
/*article {*/
/*    background-color: transparent;*/
/*    box-sizing: border-box;*/
/*    height: 100%;*/
/*    margin: 0 auto;*/
/*    position: relative;*/
/*    width: 100%;*/
    /*padding: 20px 100px 0 100px;*/
/*}*/

.workspace {
    /*background-image: url("img/workspace.jpg");*/
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
}
section .work, section .life {
    border-width: 15px;
    border-style: solid;
    border-color: #ff3399;
    background-color: transparent;
    text-transform: uppercase;
    color: #ff3399;
    text-align: center;
    font-size: 70px;
    line-height: 100px;
    letter-spacing: 10px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: auto;
}

.lifestyle, .contact-me {
    /*background-image: url("img/climb.jpg");*/
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
}
section .life, section .contacts {
    border-width: 15px;
    border-style: solid;
    border-color: #ff3399;
    background-color: transparent;
    text-transform: uppercase;
    color: #ff3399;
    text-align: center;
    font-size: 70px;
    line-height: 100px;
    letter-spacing: 10px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: auto;
}

ul.flex-container {
    padding: 20px 100px;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
  background: #ff3399;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin: 30px 0;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
.form {
    padding: 20px 100px 0 100px;
    height: 50%;
    border: 2px solid gray;
}

footer {
    background-color: transparent;
    box-sizing: border-box;
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 20px 100px;
    border: 2px solid tomato;
    display: flex;
    flex-flow: row-wrap;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    outline: none;
    color: black;
}
footer nav {
    
}
/*header:before {*/
/*    background-image: url("img/mari_home.jpg");*/
/*    background-size: cover;*/
/*    background-attachment: scroll;*/
/*    background-repeat: no-repeat;*/
/*    content: "";*/
/*    height: 100%;*/
/*    left: 0;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    z-index: -2;*/
/*}*/
/*.white-blur:after {*/
/*    background-color: rgba(255, 255, 255, 0.1);*/
/*    content: "";*/
/*    height: 100%;*/
/*    left: 0;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    z-index: -1;*/
/*}*/

/*.workspace:before {*/
/*    background-image: url("img/workspace.jpg");*/
/*    background-size: cover;*/
/*    background-attachment: scroll;*/
/*    background-repeat: no-repeat;*/
/*    content: "";*/
/*    height: 100%;*/
/*    left: 0;*/
/*    position: relative;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    z-index: -2;*/
/*}*/

/*div.workspace:after {*/
/*    background-color: rgba(255, 255, 255, 0.6);*/
/*    content: "";*/
/*    height: 100%;*/
/*    left: 0;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    z-index: -1;*/
/*}*/