/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*_____________________________________________*/

html{
    height: 100%;
}
body {
    font-family: Open Sans;
    height: 100%;
}
header {
    /*background-image: url("css/img/mari_home.jpg");*/
    background-color: transparent;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 20px 100px 0 100px;
}
header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header .fullname {
    color: white;
    margin: 0;
    font-family: Open Sans Condensed;
    font-size: 35px;
}
header .surename {
    color: #ff3399;
    font-family: Open Sans Condensed;
    font-size: 35px;
}
header nav {
    display: list-item;
    float: right;
    list-style-type: none;
}
header .nav-item {
    margin-left: 10px;
}
header .nav-item:hover {
    border-bottom: 1px solid #ff3399;
    color: #ff3399;
    padding-bottom: 10px;
}
header a {
    text-decoration: none;
    outline: none;
    color: white;
}
.front-end-dev {
    border-width: 15px;
    border-style: solid;
    border-color: #ff3399;
    background-color: transparent;
    text-transform: uppercase;
    color: #ff3399;
    text-align: center;
    font-size: 70px;
    line-height: 100px;
    letter-spacing: 10px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    float: right;
    clear: both;

  top: 50%;
  transform: translateY(-50%);
}
section.about-me {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0 auto;
    padding: 7% 12%;
    width: 100%;
    list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  /*-webkit-flex-flow: row wrap;*/
  justify-content: space-around;
}
section .hi {
    font-size: 70px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #ff3399;
    font-weight: bold;
    line-height: 100px;
    margin: 0 auto;
}
section .my-story {
    font-weight: 300;
    letter-spacing: .03em;
    line-height: 140%;
    margin: 0 auto;
    padding-left: 25px;
    width: auto;
}
.workspace {
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 60%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
}
section .work, section .life {
    border-width: 15px;
    border-style: solid;
    border-color: #ff3399;
    background-color: transparent;
    text-transform: uppercase;
    color: #ff3399;
    text-align: center;
    font-size: 70px;
    line-height: 100px;
    letter-spacing: 10px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: auto;
}
.lifestyle, .contact-me {
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 60%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
}
section .life, section .contacts {
    border-width: 15px;
    border-style: solid;
    border-color: #ff3399;
    background-color: transparent;
    text-transform: uppercase;
    color: #ff3399;
    text-align: center;
    font-size: 70px;
    line-height: 100px;
    letter-spacing: 10px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: auto;
}
ul.flex-container {
    padding: 20px 100px;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
.flex-item {
  background: #ff3399;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin: 30px 0;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
.form {
    background: none;
    display: flex;
    padding: 50px 0;
}
.flex-form {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.form * {
    box-sizing: border-box;
}
.flex-outer {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}
.flex-outer label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}
.flex-outer label span {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}
.get-in-touch, #thanks {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .03em;
    line-height: 140%;
}
.flex-outer > label > span {
    flex: 1 0 120px;
    max-width: 220px;
}
.flex-outer > label > span + * {
    flex: 1 0 220px;
}
.flex-outer label input:not([type='checkbox']),
.flex-outer label textarea {
  padding: 15px;
  border: 1px solid #8c8c8c;
  background-color: #f2f2f2;
}
.flex-outer button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}
footer {
    background-color: transparent;
    box-sizing: border-box;
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-flow: row-wrap;
    justify-content: center;
}

footer a {
    text-decoration: none;
    outline: none;
    color: #333;
}
footer i:hover {
    color: #ff3399;
}

@media (max-width: 320px) {
    header {
        background-position: 30% 50%;
        padding: 0;
    }
    header nav {
    justify-content: center;
    }
    div.front-end-dev, div.work, div.life, div.contacts {
        font-size: 30px;
        line-height: 30px;
        border-width: 7px;
        letter-spacing: 3px;
    }
    section.about-me {
        flex-direction: column;
    }
}
/*header:before {*/
/*    background-image: url("img/mari_home.jpg");*/
/*    background-size: cover;*/
/*    background-attachment: scroll;*/
/*    background-repeat: no-repeat;*/
/*    content: "";*/
/*    height: 100%;*/
/*    left: 0;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    z-index: -2;*/
/*}*/
/*.white-blur:after {*/
/*    background-color: rgba(255, 255, 255, 0.1);*/
/*    content: "";*/
/*    height: 100%;*/
/*    left: 0;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    z-index: -1;*/
/*}*/

/*.workspace:before {*/
/*    background-image: url("img/workspace.jpg");*/
/*    background-size: cover;*/
/*    background-attachment: scroll;*/
/*    background-repeat: no-repeat;*/
/*    content: "";*/
/*    height: 100%;*/
/*    left: 0;*/
/*    position: relative;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    z-index: -2;*/
/*}*/

/*div.workspace:after {*/
/*    background-color: rgba(255, 255, 255, 0.6);*/
/*    content: "";*/
/*    height: 100%;*/
/*    left: 0;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    z-index: -1;*/
/*}*/