/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*_____________________________________________*/
html{
    height: 100%;
}
body {
    font-family: Open Sans;
    height: 100%;

}
header {
    background-color: transparent;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    width: 100%;
    padding: 20px 100px 0 100px;
}
header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header .fullname {
    margin: 0;
    font-family: Open Sans Condensed;
    font-size: 35px;
}
header .surename {
    color: #ff3399;
    font-family: Open Sans Condensed;
    font-size: 35px;
}
nav {
    display: list-item;
    float: right;
    list-style-type: none;
}
header .nav-item {
    margin-left: 10px;
}
header .nav-item:hover {
    border-bottom: 1px solid #ff3399;
    color: #ff3399;
    padding-bottom: 10px;
}
a {
    text-decoration: none;
    outline: none;
    color: black;
}
.front-end-dev {
    border-width: 15px;
    border-style: solid;
    border-color: #ff3399;
    background-color: transparent;
    text-transform: uppercase;
    color: #ff3399;
    text-align: center;
    font-size: 70px;
    line-height: 100px;
    letter-spacing: 10px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    float: right;
    clear: both;

  top: 50%;
  transform: translateY(-50%);
}
.about-me {
    clear: both;
}
article .hi {
    font-size: 70px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #ff3399;
    font-weight: bold;
    line-height: 100px;
}
article .about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: 
}
article {
    background-color: transparent;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    width: 100%;
    padding: 20px 100px 0 100px;
}

footer {
    background-color: transparent;
    box-sizing: border-box;
    height: 50%;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    width: 100%;
    padding: 0 100px;
}
header:before {
    background-image: url("img/mari_home.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}
.white-blur:after {
    background-color: rgba(255, 255, 255, 0.1);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

div.workspace:before {
    background-image: url("img/workspace.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}
div.workspace:after {
    background-color: rgba(255, 255, 255, 0.6);
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}